<div class="content" >

   <div class="center below-spacer">
     <p class="title" >{{ title }}</p>
   </div>

  <div class="center below-spacer">
    <mat-toolbar color="primary">

      <button mat-button [matMenuTriggerFor]="belowMenu">Search</button>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item (click)="onNavigate( Algorithm.SEARCH_BINARY_POINT )" > {{ Algorithm.SEARCH_BINARY_POINT }} </button>
      </mat-menu>

    </mat-toolbar>
  </div>
  <p class="title" >{{ currentAlgorithm }}</p>
  <div>

  </div>

  <form class="form">
    <mat-form-field class="full-width">
      <mat-label>Array List</mat-label>
      <input  matInput [(ngModel)]="arrayList" [ngModelOptions]="{standalone: true}"  >
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Target Value</mat-label>
      <input  matInput [(ngModel)]="targetValue" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </form>

  <div [ngClass]="messageType" role="alert">
    {{ message }}
  </div>

  <section style="margin: 20px;">
    <div class="action-button-row">
      <button class="actions" mat-raised-button color="primary" (click)="onClear()">Clear</button>
      <button class="actions" mat-raised-button color="primary" (click)="onNext()">Next</button>
    </div>
  </section>

  <div class="below-spacer" style="margin-left: 20px;">
    <canvas #canvasEl  class="canvas" width="1600" height="1600" style="border: 3px solid #3f51b5;"></canvas>
  </div>

  <footer class="footer">
    <div class="container">
      <span>Place sticky footer content here.</span>
    </div>
  </footer>

</div>
