
.title{
  margin-top: 40px;
  text-align: center;
  font-size: 40px;
  color:#F03A25;
  font-family: 'Copperplate', cursive;
}

.below-spacer{
  margin-bottom: 40px;
}

.action-label{
  margin-top: 10px;
  text-align: left;
  font-size: 20px;
  color:#F03A25;
  font-family: 'Copperplate', cursive;
}

.actions{
  margin: 5px;
}

.form {
  margin-left: 20px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.pageText{
  margin-left: 10px;
  font-size: 20px;
  color:#F03A25;
  font-family: 'Copperplate', cursive;
}

.pageTextInfo{
  margin-left: 10px;
  font-size: 30px;
  color:#3f51b5;
  font-family: 'Copperplate', cursive;
}

.footer{
  background-color: orangered;
}
