<div class="content" >

   <div class="center">
     <p class="title" >{{ title }}</p>
   </div>

  <mat-toolbar color="primary">

  <button mat-button [matMenuTriggerFor]="belowMenu">Below</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item (click)="onNavigate( 'Below Item 1' )" >Item 1</button>
    <button mat-menu-item (click)="onNavigate( 'Below Item 2' )" >Item 2</button>
  </mat-menu>

  </mat-toolbar>


  <canvas #canvasEl  width="1600" height="400" style="border: 1px solid black;"></canvas>

  <button type="button" class="btn btn-primary" (click)="onNext()" >Next</button>

</div>
